version: 2
updates:

- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: monthly
  commit-message:
      prefix: "chore"
      include: "gh"

- package-ecosystem: "npm"
  directory: "/"
  schedule:
    interval: monthly
  commit-message:
      prefix: "chore"
      include: "npm"
