@use "sass:map";
@use "sass:color";

$theme-colors: (
        "primary": #e0c3fc,
        "secondary": #8ec5fc
);

@import '~bootstrap/scss/bootstrap.scss';

@mixin link($color) {
  $selected: map.get($theme-colors, $color);
  color: color.adjust($selected, $lightness: -10%);

  &:hover, &:focus {
    color: color.adjust($selected, $lightness: -40%);
  }

  &.active {
    background-color: $selected !important;
  }
}

a:hover { text-decoration: none; }

.link-primary {
  @include link("primary");
}

.link-secondary {
  @include link("secondary");
}

/* .link-secondary {
  color: color.adjust(map.get($theme-colors, "secondary"), $lightness: -10%);
}

.link-secondary:hover, .link-secondary:focus {
  color: color.adjust(map.get($theme-colors, "secondary"), $lightness: -40%);
}

.link-secondary {
  color: color.adjust(map.get($theme-colors, "secondary"), $lightness: -10%);
}

.link-secondary:hover, .link-secondary:focus {
  color: color.adjust(map.get($theme-colors, "secondary"), $lightness: -40%);
}

.link-secondary.active {
}*/

.horizontal-sep {
  height: 5px;
  background: map.get($theme-colors, "primary");
}