name: Deploy
on:
  push:
    branches:
      - master
  pull_request:
  merge_group:
  workflow_call:
    inputs:
      website_repository:
        type: string
        default: tweag/nickel-lang.org
      website_ref:
        type: string
        default: master
      production_deploy:
        required: true
        type: boolean
    secrets:
      CACHIX_AUTH_TOKEN:
        required: false
      NETLIFY_AUTH_TOKEN:
        required: false
      NETLIFY_SITE_ID:
        required: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          repository: ${{ inputs.website_repository }}
          ref: ${{ inputs.website_ref }}
      - name: Installing Nix
        uses: cachix/install-nix-action@v21
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
      - name: Setup Cachix
        uses: cachix/cachix-action@v12
        with:
          name: tweag-nickel
          authToken: '${{ secrets.CACHIX_TWEAG_NICKEL_AUTH_TOKEN }}'
      - name: Build Website
        run: |
          nix develop --command npm ci --only=production
          nix develop --command npm run build
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        with:
          production-branch: 'master'
          production-deploy: ${{ inputs.production_deploy }}
          publish-dir: 'public'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: 'Deploy from GitHub Actions'
          enable-pull-request-comment: false
          enable-commit-comment: false
          enable-commit-status: true
          overwrites-pull-request-comment: false
